/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* my css starts here */
/* general css first */

*{
  background-color: #3f3f3f;
}

h1{
  font-size: 2.25vw;
  margin-left:2.25%;
}

.tabs{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.tabLinks a{
  text-decoration: none;
  color:#93acc2;
  font-size:2vw ;
}

.bigPic{
  height: auto;
  width: 20vw;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.footerSpace{
  display: flex;
  justify-content: center;
  border-top: 2px solid #93acc2;;
  /* max-height: 100px;
  margin-top: 19vh;
  width:100%;
  position: absolute; */
}

.footerLink{
  max-width: 75px;
  margin-top: 3vw;
  margin-left:3vw;
  margin-right: 3vw;
}

/* about me */
.about-container{
  display: flex;
  justify-content: space-around;
  margin: 5%;
}

.aboutPara{
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-size: 2.5vw;
  color:#93acc2;;
}
